.navbar-inverse {
    background-color: #427f53;
    border-color: #427f53;
    
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #427f53;
}

.navbar-inverse .navbar-nav>li>a {
    color: #b4edc4;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #427f53;
    font-weight: 900;
}

span.navbar-brand{
    font-size: 24px;
    font-weight: 900
}

body {
    color: #ffffff;
    background: #222222;
}

.chart-title {
    border-bottom: none;
    background-color: #222222;
    font-size: 18px;
    font-weight: 700;
}

.chart-wrapper .chart-stage {
    background-color: #222222
}

div#section.level3.chart-wrapper.chart-wrapper-flex{
    background: #222222;
}
