/* navbar */
.navbar-inverse {
    background-color: #427f53;
    border-color: #427f53;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #427f53;
}

.navbar-inverse .navbar-nav>li>a {
    color: #b4edc4;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #427f53;
    font-weight: 900;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #427f53;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #427f53;
}

span.navbar-brand{
    font-size: 24px;
    font-weight: 900
}



/* dropdown menu */
.dropdown-menu {
    background-color: #427f53;
}

.dropdown-menu>li>a{
    color: #b4edc4;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
    font-weight: 900;
    background-color: #427f53;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #ffffff;
    background-color: #427f53;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus{
    font-weight: 900;
    color: #ffffff;
    background-color: #427f53;
}



/* tabset pills */
ul.nav-pills {
    background-color: #222222;
}

.nav-pills>li>a{
    color: #b4edc4;
    background-color: #222222;
}

.nav>li>a:hover, .nav>li>a:focus {
    color: #ffffff;
    background-color: #222222;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #222222;
    background-color: #b4edc4;
}

body {
    color: #ffffff;
    background: #222222;
}

.chart-title {
    border-bottom: none;
    background-color: #222222;
    font-size: 18px;
    font-weight: 700;
}

.chart-wrapper .chart-stage {
    background-color: #222222
}

div#section.level3.chart-wrapper.chart-wrapper-flex{
    background: #222222;
}

.chart-wrapper, .nav-tabs-custom, .sbframe-commentary {
    border: 1px solid #222222;
}